<!DOCTYPE html>
<html>
<head>
	<center><title>How About a Beer?</title>
	<h1>How About A Beer?</h1>
	<h3>Enter a Beer Style (Ex. IPA, Pils, Hefeweizen, etc.)</h3>
	<h4>We'll Recommend 5 Beer Styles You May Want to Try Based on The Beer Style Entered</4>
</head>
<body>
	<form action="/submit">
		<p>
			<label for="beer_style">Beer Style</label><br>
			<!--modified from www.w3schools.com/-->
			 <textarea type="string" name="beer_style" id="beer_style"></textarea> 
			<p><button type="submit">Submit</button></p>
		</p>
		<p>
				
	<!--<p>
			<label for="review_appearance">Rate Appearance</label><br>
			<input type="number" name="review_appearance">
		</p>
		<p>
			<label for="review_palate">Rate Palate</label><br>
			<input type="number" name="review_palate">
		</p>
		<p>
			<label for="review_taste">Rate Taste</label><br>
			<input type="number" name="review_taste">
		</p> 
		<p><button type="submit">Submit</button></p>--> </center>
	</form>
</body>
</html>